@import "./reset.scss";

/* Pages */
@import "./pages/homepage";
@import "./pages/settings";

/* Components Common */
@import "./components/common/PageBanner.scss";
@import "./components/common/PageContainer.scss";

/* Components Navbar */
@import "./components/navbar/top/NavbarTop.scss";
@import "./components/navbar/left/NavbarLeft.scss";
@import "./components/navbar/bottomMobile/bottomMobile.scss";

/* Fonts */
@import "./fonts/Montserrat.scss";

/* General */
body {
    background-color: #F3F3F3;
}

.content-layout {
    display: flex;

    > .main-layout {
        width: 100%;
        position: relative;
        overflow-y: scroll;
        height: calc(100vh - 60px);

        &::-webkit-scrollbar {
            display: none;
        }
    }
}